GOOGLE_CLIENT_ID=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_GRAPH_API_VERSION=

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

MSSQL_DB=
MSSQL_USER=
MSSQL_PASSWORD=

SERVER_IP=
VITE_API_STATIC_API=
VITE_FACEBOOK_APP_ID=

SALES_FORCE_CLIENT_ID=
SALES_FORCE_CLIENT_SECRET=
SALES_FORCE_INSTANCE_URL=
SALES_FORCE_ACCOUNT_ID=
SALES_FORCE_API_VERSION=